{# Page: Confirm Delete, asks the user to confirm before deleting a video. #}
{# Actual deletion happens on POST in the view (library.py). This page is only shown on GET. #}
{% extends 'base.html' %}
{% block title %}Delete Video{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="form-container">
        <h1>Delete Video</h1>
        <p class="form-subtitle">Are you sure you want to delete? <strong>{{ video.title }}</strong></p>
        {#csrf is to not get status 403 error code #}
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-danger">Yes, Delete</button>
        </form>

        <div class="auth-footer">
            <a href="{% url 'watch' video.pk %}">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}
